<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <%= link_to "←", user_path(params: {id: @user.id, first_day: @first_day.prev_month }),
                         class: "btn btn-xs btn-primary" %>
        &emsp;<%= @first_day.to_s(:year_month) %>&emsp;
        <%= link_to "→", user_path(params: {id: @user.id, first_day: @first_day.next_month }),
                         class: "btn btn-xs btn-primary" %>
      </td>
      <td>名前：<%= @user.name %></td>
      <td>基本給:<%= @user.basic_salary %>円</td>
      <td>出勤日数：<%= @workdays %></td>
      <td>扶養額:<%= @user.recharge %>万 </td>
    </tr>
  </table>
</div>

<h1>From日付からTo日付までの経過日数を計算する</h1>
 
<form id="test2" action="/" method="post" name="range">From日付：
<input id="fromYear" type="text" name="fromy" size="6" maxlength="4" /> 年 
<input id="fromMonth" type="text" name="fromm" size="4" maxlength="2" /> 月 
<input id="fromDate" type="text" name="fromd" size="4" maxlength="2" /> 日
 
To日付：
<input id="toYear" type="text" name="toy" size="6" maxlength="4" /> 年 
<input id="toMonth" type="text" name="tom" size="4" maxlength="2" /> 月 
<input id="toDate" type="text" name="tod" size="4" maxlength="2" /> 日
 
<input id="calcButton" type="submit" name="regist" value="計算" />
<input id="resetButton" type="reset" name="reset" value="リセット" />
 
</form>
<p id="returnDate"></p>

<!--クイックモーダル-->
<% @dates.each do |day| %>
  <%= fields_for"pays[]", day do |af| %>
    <% if day.worked_on == Date.today #&& day.started.nil?%>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-<%=day.id%>">
      クイック入力</button>
      <div class="modal fade" id="modal-<%=day.id%>" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1>今日のシフト時間入力</h1>
            </div>
            <div class="modal-body">
              <%= form_for(@user,url: update_pays_path(params: {id: @user.id})) do |f| %>
          
              <%= day.worked_on.to_s(:date) %>
            
              <%= f.label :started%>
              <%= af.text_field :started_a, class: "sta_#{day.id}"%>:
              <%= af.text_field :started_b, class: "stb_#{day.id}"%><br>

              <%= f.label :finished %>
              <%= af.text_field :finished_a, class: "fia_#{day.id}" %>:
              <%= af.text_field :finished_b, class: "fib_#{day.id}" %><br>

              <%= f.label :salary %>
              <%= af.text_field :salary , class: "sa"%>円
              
              <%= af.check_box :nextday_box %>
            </div>
          <div class="modal-footer">
              <%= f.submit "保存", class: "btn btn-primary" %>
          </div>
              <%end%><!--form_for-->
          </div>
        </div>
      </div>
    <%end%><!--if-->
  <%end%><!--fields_for-->
<%end%><!--@dates-->
<!--クイックモーダル終了-->
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>出勤時間</th>
        <th>退勤時間</th>
        <th>労働時間</th>
        <th>残業時間</th>
        <th>給料</th>
        <th>備考</th>
        <td>編集</td>
      </tr>
    </thead>

    <tbody>
      <% @dates.each do |day| %>
        <tr>
          <td><%= day.worked_on.to_s(:date) %></td>
          <td><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></td>
          <td><%= day.started.to_s(:hourmin) if day.started.present? %></td>
          <td><%= day.finished.to_s(:hourmin) if day.finished.present? %></td>
          <td>
            <!--翌日時間労働時間-->
            <% if day.started.present? && day.finished.present? && day.nextday_box== true%>
              <%= working_times_nextday(day.started, day.finished).to_f %>
              <% @total_seconds =+ @total_seconds.to_f + working_times_nextday(day.started, day.finished).to_f %>
            <!--当日労働時間-->
            <% elsif day.started.present? && day.finished.present? %>
              <%= working_times(day.started, day.finished) %>
              <% @total_seconds =+ @total_seconds.to_f + working_times(day.started, day.finished).to_f %>
            <%end%>
          </td><!--労働時間/td-->
          <td>
            <!--翌日残業時間-->
            <% if day.started.present? && day.finished.present? && working_times_nextday(day.started, day.finished).to_i > 8 && day.nextday_box== true%>
              <%= working_times_nextday_overtime(day.started, day.finished).to_f%>
              <% @secondsov =+ @secondsov.to_f + working_times_nextday_overtime(day.started, day.finished).to_f%>
            <!--当日残業時間-->
            <% elsif day.started.present? && day.finished.present? && working_times(day.started, day.finished).to_i > 8 %>
              <%= working_times_overtime(day.started, day.finished).to_f%>
              <% @secondsov =+ @secondsov.to_f +  working_times_overtime(day.started, day.finished).to_f %>
            <%end%>
          </td><!--残業時間/td-->
          <td><!--給料計算td-->
            <!--残業あり、翌日-->
            <% if day.started.present? && day.finished.present? &&  working_times_nextday(day.started, day.finished).to_i > 8 && day.nextday_box== true%>
              <%= nextday_overtime_pay(day.started,day.finished,@user.basic_salary).floor%>円
            <!--残業なし、翌日-->
            <% elsif day.started.present? && day.finished.present? &&  working_times_nextday(day.started, day.finished).to_i <= 8 &&day.nextday_box== true %>
              <%= nextday_basic_pay(day.started,day.finished,@user.basic_salary) %>円
            <!--残業なし、その日-->
            <% elsif day.started.present? && day.finished.present? && working_times(day.started, day.finished).to_i <= 8%> 
              <%=  basic_pay(day.started,day.finished,@user.basic_salary).floor %>円
            <!--残業あり、その日-->
            <% elsif day.started.present? && day.finished.present? && working_times(day.started, day.finished).to_i > 8 %>
              <%= overtime_pay(day.started,day.finished,@user.basic_salary).floor%>円
            <%end%>
             
          </td><!--給料計算/td-->
          <td><%= day.salary if day.salary.present?%>円</td>
          <td>
            <!--編集モーダル-->
            <%= fields_for"pays[]", day do |af| %>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-<%=day.id%>">
              編集</button>
                <div class="modal fade" id="modal-<%=day.id%>" tabindex="-1" role="dialog" aria-hidden="true" >
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                      <h1>今日のシフト時間編集</h1>
                    </div>
                    <div class="modal-body">
                      <%= form_for(@user,url: update_pays_path(params: {id: @user.id})) do |f| %>
          
                        <%= day.worked_on.to_s(:date) %>
                        
                        <%= f.label :started%>
                        <%= af.text_field :started_a, class: "sta_#{day.id}"%>:
                        <%= af.text_field :started_b, class: "stb_#{day.id}"%><br>

                        <%= f.label :finished %>
                        <%= af.text_field :finished_a, class: "fia_#{day.id}" %>:
                        <%= af.text_field :finished_b, class: "fib_#{day.id}" %><br>

                        <%= f.label :salary %>
                        <%= af.text_field :salary , class: "sa"%>
                        <p></p>
                        <p2></p2>
                        <p3></p3>
                        
                        
                        <%= af.check_box :nextday_box %>
                    </div>
                    <div class="modal-footer">
                        <%= f.submit "保存", class: "btn btn-primary" %>
                    </div>
                      <%end%><!--form_for-->
                  </div>
                </div>
              </div>
            <!--編集モーダル終了-->
          </td>
          <td>
            <%end%><!--fields_for-->
          </td>
        </tr>
        
      <% end %><!--@dates-->
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= @total_seconds unless @total_seconds.nil? %></td>
        <td><%= @secondsov unless @secondsov.nil?  %></td>
        <td></td><!--給料合計/td-->
        <td>年間<%= @total_salary %></td>
      </tr>
    </tfoot>
  </table>
</div>


<% @dates.each do |day| %>
<script>
$('.sta_<%=day.id%>').change(function() {
 var sta = $('.sta_<%=day.id%>').val();
 var stb = $('.stb_<%=day.id%>').val();
 var starta = parseInt(sta);
 var startb = parseInt(stb);
 
 var fia = $('.fia_<%=day.id%>').val();
 var fib = $('.fib_<%=day.id%>').val();
 var finisha = parseInt(fia);
 var finishb = parseInt(fib);
 if (Math.sign(finishb - startb) == -1) {
   var hour = (finisha - starta)*<%= @user.basic_salary %> - 1000;
   var min = Math.abs(finishb - startb)*<%= format("%.2f",(@user.basic_salary / 60.0))%> ;
   var result = hour + Math.floor(min);
 }else {
   var hour = (finisha - starta)*<%= @user.basic_salary %>;
   var min = (finishb - startb)*<%= format("%.2f",(@user.basic_salary / 60.0))%> ;
   var result = hour + Math.floor(min);
   }
$('.sa').val(result);
});
</script>
<%end%>


<!--全部の月のレコード拾ってくる。-->
<!--年間単位ででの計算-->
<!--month.each ネスト(給料)-->
<!--whereで今年分の給料を拾ってくる(合計させる)-->
<!--給料結果をカラムに入れる。新規作成必要あり-->
