<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <%= link_to "←", user_path(params: {id: @user.id, first_day: @first_day.prev_month }),
                         class: "btn btn-xs btn-primary" %>
        &emsp;<%= @first_day.to_s(:year_month) %>&emsp;
        <%= link_to "→", user_path(params: {id: @user.id, first_day: @first_day.next_month }),
                         class: "btn btn-xs btn-primary" %>
      </td>
      <td>名前：<%= @user.name %></td>
      <td>基本給:<%= @user.basic_salary %>円</td>
      <td>出勤日数：<%= @workdays %></td>
      <td>総労働時間: </td>
      <td>給料: </td>
      <td>扶養まで: </td>
    </tr>
  </table>
</div>

<!--モーダル-->
<% @dates.each do |day| %>
  <%= fields_for"pays[]", day do |af| %>
    <% if day.worked_on == Date.today #&& day.started.nil?%>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-<%=day.id%>" data-date="<%= day.worked_on%>">クイック入力</button>
      <div class="modal fade" id="modal-<%=day.id%>" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1>今日のシフト時間入力</h1>
            </div>
            <div class="modal-body">
              <%= form_for(@user,url: update_pays_path(params: {id: @user.id})) do |f| %>
          
              <%= day.worked_on.to_s(:date) %>
            
              <%= f.label :started %>
              <%= af.time_field :started %>

              <%= f.label :finished %>
              <%= af.time_field :finished %>
            </div>
          <div class="modal-footer">
              <%= f.submit "保存", class: "btn btn-primary" %>
          </div>
              <%end%><!--form_for-->
          </div>
        </div>
      </div>
    <%end%><!--if-->
  <%end%><!--fields_for-->
<%end%><!--@dates-->
<!--モーダル終了-->
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>出勤時間</th>
        <th>退勤時間</th>
        <th>労働時間</th>
        <th>給料</th>
        <th>備考</th>
        <td>編集</td>
      </tr>
    </thead>

    <tbody>
      <% @dates.each do |day| %>
        <tr>
          <td><%= day.worked_on.to_s(:date) %></td>
          <td><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></td>
          <td><%= day.started.to_s(:hourmin) if day.started.present? %></td>
          <td><%= day.finished.to_s(:hourmin) if day.finished.present? %></td>
          <td>
            <% if day.started.present? && day.finished.present? %>
              <%= working_times(day.started, day.finished) %>
              <% seconds = (day.finished - day.started).to_i %>
              <% @total_seconds = @total_seconds.to_i + seconds %>
            <%end%>
          </td>
          <td></td>
          <td></td>
          <td>
            <!--編集モーダル-->
            <%= fields_for"pays[]", day do |af| %>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-<%=day.id%>" data-date="<%= day.worked_on%>">編集</button>
                <div class="modal fade" id="modal-<%=day.id%>" tabindex="-1" role="dialog" aria-hidden="true" >
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                      <h1>今日のシフト時間編集</h1>
                    </div>
                    <div class="modal-body">
                      <%= form_for(@user,url: update_pays_path(params: {id: @user.id})) do |f| %>
          
                        <%= day.worked_on.to_s(:date) %>
            
                        <%= f.label :started %>
                        <%= af.time_field :started %>

                        <%= f.label :finished %>
                        <%= af.time_field :finished %>
                    </div>
                    <div class="modal-footer">
                        <%= f.submit "保存", class: "btn btn-primary" %>
                    </div>
                      <%end%><!--form_for-->
                  </div>
                </div>
              </div>
            <%end%><!--fields_for-->
            <!--編集モーダル終了-->
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td><%= working_times_sum(@total_seconds) unless @total_seconds.nil? %></td>
      </tr>
    </tfoot>
  </table>
</div>