<div class="yearbutton">
<%= link_to "←", user_path(params: {id: @user.id, first_day: @first_day.prev_month }),class: "btn btn-xs btn-primary" %>
  &emsp;<%= @first_day.to_s(:year_month) %>&emsp;
<%= link_to "→", user_path(params: {id: @user.id, first_day: @first_day.next_month }),class: "btn btn-xs btn-primary" %>
<!--クイックモーダル-->
<% @dates.each do |day| %>
  <%= fields_for"pays[]", day do |af| %>
    <% if day.worked_on == Date.today #&& day.started.nil?%>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-<%=day.id%>" id="btright">
      クイック入力</button>
      <div class="modal fade" id="modal-<%=day.id%>" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1>今日のシフト時間入力</h1>
            </div>
            <div class="modal-body">
              <%= form_for(@user,url: update_pays_path(params: {id: @user.id})) do |f| %>
          
              <%= day.worked_on.to_s(:date) %>
            
              <%= f.label :started, "開始時間"%>
              <%= af.text_field :started_a, class: "sta_#{day.id}"%>:
              <%= af.text_field :started_b, class: "stb_#{day.id}"%><br>

              <%= f.label :finished, "終了時間" %>
              <%= af.text_field :finished_a, class: "fia_#{day.id}" %>:
              <%= af.text_field :finished_b, class: "fib_#{day.id}" %><br>
              
              <%= af.text_field :paynote, class: "form-control" %>

              <%= f.label :salary, "給料" %>
              <%= af.text_field :salary ,readonly: true ,class: "sa_#{day.id}"%>円
              
              <%= af.check_box :nextday_box,class: "ch_#{day.id}" %>
            </div>
          <div class="modal-footer">
              <%= f.submit "保存", class: "btn btn-primary" %>
          </div>
              <%end%><!--form_for-->
          </div>
        </div>
      </div>
    <%end%><!--if-->
  <%end%><!--fields_for-->
<%end%><!--@dates-->
<!--クイックモーダル終了-->
</div>
<div>
  <table class="table table-bordered table-condensed table-hover">
    <thead>
      <tr class="success">
        <th>日付</th>
        <th>曜日</th>
        <th>出勤時間</th>
        <th>退勤時間</th>
        <th>労働時間</th>
        <th>残業時間</th>
        <th>給料</th>
        <th>備考</th>
        <th>編集</th>
      </tr>
    </thead>

    <tbody>
      <% @dates.each do |day| %>
        <tr>
          <td id="table-center" class="active"><%= day.worked_on.to_s(:date) %></td>
          <td id="table-center">
            <% week_name = %w[日 月 火 水 木 金 土] %>
             <% str = week_name[day.worked_on.wday] %>
            <% if day.worked_on.wday == 0 %>
              <font color="red"><%=week_name[day.worked_on.wday]%></font>
            <% elsif day.worked_on.wday == 6 %>
              <font color="blue"><%=week_name[day.worked_on.wday]%></font>
            <%else%>
              <%= str%>
            <%end%>
          </td>
          <td id="table-center">
            <% if day.started_a.present? && day.started_b.present? %>
              <%= day.started_a %>:<%= sprintf("%.2d",day.started_b)%></td>
            <%end%>
          <td id="table-center">
            <% if day.finished_a.present? && day.finished_b.present? %>
              <%= day.finished_a%>:<%= sprintf("%.2d",day.finished_b) %>
            <%end%>
          </td>
          <td id="table-center">
            <!--翌日時間労働時間-->
            <% if day.started_a && day.started_b && day.finished_a && day.finished_b && day.nextday_box== true%>
              <%= working_nextday_times_a(day.started_a,day.started_b,day.finished_a,day.finished_b) %>
            <!--当日労働時間-->
            <% elsif day.started_a && day.started_b && day.finished_a && day.finished_b%>
              <%= working_times_a(day.started_a,day.started_b,day.finished_a,day.finished_b) %>
            <%end%>
          </td><!--労働時間/td-->
          <td id="table-center">
            <!--翌日残業時間-->
            <% if day.started_a && day.started_b && day.finished_a && day.finished_b && working_nextday_times_a(day.started_a,day.started_b,day.finished_a,day.finished_b).to_i > 8 && day.nextday_box == true %>
              <%= working_nextday_overtimes_a(day.started_a,day.started_b,day.finished_a,day.finished_b) %>
            <!--当日残業時間-->
            <% elsif day.started_a && day.started_b && day.finished_a && day.finished_b && working_times_a(day.started_a,day.started_b,day.finished_a,day.finished_b).to_i > 8 %>
              <%= working_overtimes(day.started_a,day.started_b,day.finished_a,day.finished_b).to_f%>
            <%end%>
          </td><!--残業時間/td-->
          <td id="table-center"><!--給料計算td-->
            <% if day.salary.present? %>
              <%= day.salary %>円
            <%end%>
          </td><!--給料計算/td-->
          <td id="table-center"><%= day.paynote%></td>
          <td width="7%" id="table-center">
            <!--編集モーダル-->
            <%= fields_for"pays[]", day do |af| %>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-<%=day.id%>">
              編集</button>
                <div class="modal fade" id="modal-<%=day.id%>" tabindex="-1" role="dialog" aria-hidden="true" >
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                      <h1>今日のシフト時間編集</h1>
                    </div>
                    <div class="modal-body">
                      <%= form_for(@user,url: update_pays_path(params: {id: @user.id})) do |f| %>
          
                        <%= day.worked_on.to_s(:date) %>
                        
                        <%= f.label :started, "開始時間"%>
                        <%= af.text_field :started_a, class: "sta_#{day.id}"%>:
                        <%= af.text_field :started_b, class: "stb_#{day.id}"%><br>

                        <%= f.label :finished, "終了時間" %>
                        <%= af.text_field :finished_a, class: "fia_#{day.id}" %>:
                        <%= af.text_field :finished_b, class: "fib_#{day.id}" %><br>
                        
                        <%= af.text_field :paynote, class: "form-control" %>

                        <%= f.label :salary, "給料" %>
                        <%= af.text_field :salary , readonly: true ,class: "sa_#{day.id}"%>
                        
                        <%= af.check_box :nextday_box, class: "ch_#{day.id}" %>
                    </div>
                    <div class="modal-footer">
                        <%= f.submit "保存", class: "btn btn-primary" %>
                    </div>
                      <%end%><!--form_for-->
                  </div>
                </div>
              </div>
            <!--編集モーダル終了-->
          </td>
            <%end%><!--fields_for-->
        </tr>
      <% end %><!--@dates-->
    </tbody>
  </table>
</div>

<table class="table table-hover" >
  <tr class="info" id="table-center">
    <td>今月: &emsp; <%= @total_month_salary%>円</td>
    <td>年間: &emsp; <%= @total_salary %>円</td>
    <td>扶養額:  &emsp; <%= @user.recharge %>円</td>
    <td>扶養額まで残り: &emsp; <%= rechargesub(@user.recharge,@salarys.sum(:salary)) %>円</td>
  </tr>
</table>




<% @dates.each do |day| %>
<script>
$('.sta_<%=day.id%>, .stb_<%=day.id%>, .fib_<%=day.id%> , .fia_<%=day.id%>, ch_<%day.id%>').change(function() {
 var sta = $('.sta_<%=day.id%>').val();
 var stb = $('.stb_<%=day.id%>').val();
 var starta = parseInt(sta);
 var startb = parseInt(stb);
 
 var fia = $('.fia_<%=day.id%>').val();
 var fib = $('.fib_<%=day.id%>').val();
 var finisha = parseInt(fia);
 var finishb = parseInt(fib);
 if (Math.sign(finishb - startb) == -1) {
   var hour = (finisha - starta)*<%= @user.basic_salary %> - 1000;
   var min = Math.abs(finishb - startb)*<%= format("%.2f",(@user.basic_salary / 60.0))%> ;
   var result = hour + Math.floor(min);
 }else if ((finisha - starta) > 8) {
   var hour = (8*<%= @user.basic_salary %>)+(((finisha - starta) - 8)*(<%= @user.basic_salary %>*1.25))
   var min = ((finishb - startb)*<%= format("%.2f",(@user.basic_salary / 60.0))%>)*1.25 ;
   var result = hour + Math.floor(min);
 }else if ($('.ch_<%=day.id%>').prop('checked') == true) {
   var hour = ((finisha + 24) - starta)*<%= @user.basic_salary %>;
   var min = (finishb - startb)*<%= format("%.2f",(@user.basic_salary / 60.0))%> ;
   var result = hour + Math.floor(min);
 }
 else {
   var hour = (finisha - starta)*<%= @user.basic_salary %>;
   var min = (finishb - startb)*<%= format("%.2f",(@user.basic_salary / 60.0))%> ;
   var result = hour + Math.floor(min);
   }
$('.sa_<%=day.id %>').val(result);
});
</script>
<%end%>


<!--全部の月のレコード拾ってくる。-->
<!--年間単位ででの計算-->
<!--month.each ネスト(給料)-->
<!--whereで今年分の給料を拾ってくる(合計させる)-->
<!--給料結果をカラムに入れる。新規作成必要あり-->
